code {
  font-family: 'Courier New', Courier, monospace;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  height: 100%;
  display: flex;
  justify-content: center;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

p#toast {
  position: fixed;
  padding: 1em;
  border-radius: 0.4em;
  bottom: -5em;
  right: 1em;
  transition: bottom 0.3s ease-in 0s;
  border: 1px solid black;
}

textarea {
  width: 100%;
}
textarea,
textarea:hover {
  outline: none;
}
input,
textarea,
select {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.6em;
  resize: none;
  padding: 0.4em;
  background-color: white;
}

button {
  border: none;
  border-radius: 0.6em;
  padding: 0.4em 1.4em;
  background-color: black;
  color: white;
}

#add-column-button {
  margin-top: 1em;
}

#app-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
  opacity: 1;
  margin-top: 0;
}

section {
  margin-bottom: 0.5em;
}

section h1 {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-bottom: 0.1rem;
}

table {
  margin-top: 1rem;
}

.warning {
  color: red;
}
thead {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8em;
  font-weight: normal;
}

th > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col > * {
  margin: 0.2em 0;
}

tr > * {
  padding: 0.4em 0.8em;
}

#results-box {
  flex-grow: 1;
  padding: 0.5rem;
}

#input-box {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  padding: 0.5rem;
  background: rgb(245, 245, 245);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
